<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/dashboard']">
    <fa-icon [icon]="faListUl"></fa-icon> TODOLIST</a
  >

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/dashboard']"
          routerLinkActive="active"
          >HOME
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/profile']"
          routerLinkActive="active"
          >PROFILE</a
        >
      </li>
    </ul>
  </div>
</nav>
