<h1 class="text-center mt-5">To Do List</h1>
<form
  class="form mx-auto"
  style="width: 30rem; margin-top: 4rem"
  ngNativeValidate
  #authForm="ngForm"
  (ngSubmit)="onSubmit(authForm)"
>
  <div class="alert alert-danger" *ngIf="error">
    <p>{{ error }}</p>
  </div>
  <div class="form-group" *ngIf="!isLoginMode">
    <label for="email">Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      ngModel
      name="name"
      required
    />
  </div>

  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      id="email"
      class="form-control"
      ngModel
      name="email"
      required
      email
    />
    <div class="form-text text-muted">
      We'll never share your email with anyone else.
    </div>
  </div>

  <div class="form-group">
    <label for="Password">Password</label>
    <input
      type="password"
      id="password"
      class="form-control"
      ngModel
      name="password"
      required
      password
      minlength="6"
    />
  </div>

  <div *ngIf="isLoginMode; else registerMode">
    <button type="submit" class="btn btn-primary">Login</button>
    <br />
    <br />

    <p>
      New Customer?
      <a (click)="onSwitchMode()" style="cursor: pointer">Register</a>
    </p>
  </div>

  <ng-template #registerMode>
    <button class="btn btn-primary" type="submit">Register</button>
    <br />
    <br />
    <p>
      Have an account?
      <a (click)="onSwitchMode()" style="cursor: pointer">Login</a>
    </p>
  </ng-template>
</form>
